@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

body {
    font-family: "Roboto", sans-serif;
    color: #263238;
    position: relative;
    padding-top: 57px;
}

.text-primary-c {
    color: #263238;
}

.text-secondary-c {
    color: #26a69a;
}

.text-accent-c {
    color: #64d8cb;
}

.text-danger-c {
    color: #e91e63;
}

.bg-primary-c {
    background-color: #263238;
}

.bg-secondary-c {
    background-color: #26a69a;
}

.bg-accent-c {
    background-color: #64d8cb;
}

.bg-danger-c {
    background-color: #e91e63;
}

@media screen and (max-width :991px){
    .container {
        padding-top: 30px;
    }
}
