.container{
  margin-bottom: 100px;
}
/* CSS halaman admin */
#judul{
  margin-top: 130px;
  margin-left: 106px;
  line-height: 60px;
  text-align: left;
  font-size: 46px;
  font-family: Roboto,sans-serif;
  letter-spacing: 0px;
  color: #263238;
  opacity: 1;
}

#penjelasan{
  margin-top: 16px;
  margin-left: 106px;
  line-height: 26px;
  width: 937px;
  text-align: left;
  font-size: 20px;
  font-family: Roboto,sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

/* akhir CSS halaman admin */

/* CSS halaman Daftar dan Login*/
#judul2{
  margin-top: 110px;
  line-height: 60px;
  font-size: 46px;
  letter-spacing: 0px;
  color: #263238;
  opacity: 1;
}

#daftar{
  margin-top: 58px;
}

#login{
  margin-top: 58px;
}

.auth img{
  margin: 0 auto;
  display: block;
  max-width: 45%;
  height: auto;
}

.form-control{
  margin-bottom: 24px;
  border: 1px solid #707070;
  width: 40%;
  border-radius: 16px;
  opacity: 1;
  padding: 16px;
}

.form-control:focus {
  border: 1px solid #707070;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(38, 50, 56, 0.075), 0 0 8px rgba(38, 50, 56, 0.6);
          box-shadow: inset 0 1px 1px rgba(38, 50, 56, 0.075), 0 0 8px rgba(38, 50, 56, 0.6);
}
.form-group input{
  font-size: 20px;
  color: #707070;
}
.btn-auth{
  padding: 16px;
  width: 40%;
  margin-bottom:24px;
  font-size: 26px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  border:2px solid #707070;
  border-radius: 16px;
}

#text1{
  color: #707070;
}

#text1 span{
  color: #263238;
  font-weight: 500;  
}

#text1 a{
  text-decoration: none;
}

#text1 span:hover{
  cursor: pointer;
  font-weight: 900;
}
/* akhir CSS halaman daftar dan login*/

@media screen and (max-width: 990px) {

.container{
  margin-bottom: 30px;
}

  /* CSS halaman daftar dan login */
#judul2{
  margin-top: 40px;
  font-size: 32px;
}

#daftar{
  margin-top: 28px;
}

#login{
  margin-top: 28px;
}

.form-control{
  margin-bottom: 24px;
  border: 1px solid #707070;
  width: 80%;
  border-radius: 16px;
  opacity: 1;
  padding: 16px;
}

.form-group input{
  font-size: 14px;
  color: #707070;
}

.btn-auth{
  padding: 16px;
  width: 80%;
  margin-bottom:16px;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  border:2px solid #707070;
  border-radius: 16px;
}

.auth img{
  max-width: 90%;
  height: auto;
}

#text1{
  font-size: 16px;
}
/* akhir CSS halaman daftar dan login*/

}